# Example msmtp configuration for globallearning SMTP account.
# Copy to ~/.msmtprc (Linux/Mac) or C:\msmtp\msmtprc and `chmod 600` the file.

defaults
tls on
tls_starttls off
tls_trust_file /etc/ssl/certs/ca-certificates.crt
auth on

account globallearning
host globallearning.com
port 465
user noreply@globallearning.com
password noreplygloballearning
from noreply@globallearning.com

logfile ~/.msmtp.log

account default : globallearning
